<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Message Room</title>
</head>
<body>
    {{ username }} <br>
    <textarea readonly id="state" cols="100" rows="20"></textarea><br>
    <input readonly id="log" type="text" size="100"><br>
    <input id="username" type="text" size="100"><br>
    <input id="invite" type="button" value="Invite">
    <input id="accept" type="button" value="Accept">
    <input id="reject" type="button" value="Reject">
    <input id="leave" type="button" value="Leave">
    <script>
        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/message/'
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.type == "state") {
                if(data.channel_id) {
                    document.querySelector('#state').value = 'Group : ' + data.channel_id + '\n';
                }
                else {
                    document.querySelector('#state').value = 'Group : None\n';
                }
                data.invitations.forEach(invitation => {
                    var date = new Date(invitation.timestamp * 1000);
                    document.querySelector('#state').value += (invitation.username + ' | ' + date.toString() + '\n');
                });
            }
            else {
                document.querySelector('#log').value = data.type + " | " + data.info;
            }
        };

        socket.onclose = function(e) {
            document.querySelector('#log').value = 'Socket closed\n'
            console.error('Socket closed');
        };

        document.querySelector('#username').focus();

        document.querySelector('#invite').onclick = function(e) {
            const usernameDom = document.querySelector('#username');
            const username = usernameDom.value;
            socket.send(JSON.stringify({
                'type': 'invite',
                'username': username 
            }));
        };

        document.querySelector('#accept').onclick = function(e) {
            const usernameDom = document.querySelector('#username');
            const username = usernameDom.value;
            socket.send(JSON.stringify({
                'type': 'accept',
                'username': username 
            }));
        };

        document.querySelector('#reject').onclick = function(e) {
            const usernameDom = document.querySelector('#username');
            const username = usernameDom.value;
            socket.send(JSON.stringify({
                'type': 'reject',
                'username': username 
            }));
        };

        document.querySelector('#leave').onclick = function(e) {
            socket.send(JSON.stringify({
                'type': 'leave'
            }));
        };
    </script>
</body>
</html>