<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Message Room</title>
</head>
<body>
    <textarea readonly id="log" cols="100" rows="20"></textarea><br>
    <input id="username" type="text" size="100"><br>
    <input id="invite" type="button" value="Invite">
    <input id="accept" type="button" value="Accept">
    <input id="reject" type="button" value="Reject">
    <script>
        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/message/'
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.status) {
                var date = new Date(data.info.timestamp * 1000);
                document.querySelector('#log').value += (data.info.host + ' invited ' + 
                    data.info.guest + ' on ' + date.toString() + '\n');
            }
            else {
                document.querySelector('#log').value += (data.info + '\n');
            }
        };

        socket.onclose = function(e) {
            document.querySelector('#log').value += 'Socket closed\n'
            console.error('Socket closed');
        };

        document.querySelector('#username').focus();

        document.querySelector('#invite').onclick = function(e) {
            const usernameDom = document.querySelector('#username');
            const username = usernameDom.value;
            socket.send(JSON.stringify({
                'username': username 
            }));
            username.value = '';
        };
    </script>
</body>
</html>