<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Message Room</title>
</head>
<body>
    <textarea id="log" cols="100" rows="20"></textarea><br>
    <input id="username" type="text" size="100"><br>
    <input id="invite" type="button" value="Invite">
    <script>
        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/message/'
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#log').value += (data.host + ' invited ' + data.guest + '\n');
        };

        socket.onclose = function(e) {
            console.error('Socket closed unexpectedly');
        };

        document.querySelector('#username').focus();

        document.querySelector('#invite').onclick = function(e) {
            const usernameDom = document.querySelector('#username');
            const username = usernameDom.value;
            socket.send(JSON.stringify({
                'username': username 
            }));
            username.value = '';
        };
    </script>
</body>
</html>